<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @mailedaddress.branch %>
</p>

<p>
  <b>Drop:</b>
  <%= @mailedaddress.drop %>
</p>

<p>
  <b>Piecepostage:</b>
  <%= @mailedaddress.piecepostage %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @mailedaddress.zipcode %>
</p>

<p>
  <b>Ranktotal:</b>
  <%= @mailedaddress.ranktotal %>
</p>

<p>
  <b>Zipplus4:</b>
  <%= @mailedaddress.zipplus4 %>
</p>

<p>
  <b>Deliverypoint:</b>
  <%= @mailedaddress.deliverypoint %>
</p>


<%= link_to 'Edit', edit_mailedaddress_path(@mailedaddress) %> |
<%= link_to 'Back', mailedaddresses_path %>
